<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Navbar</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">home</a>
      </li>
      <li class="nav-item dropdown" dropdown routerLinkActive="active">
        <a class="nav-link dropdown-toggle" role="button" dropdownToggle aria-haspopup="true" aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
          <a class="dropdown-item" routerLink="/feature">Feature</a>
          <a class="dropdown-item" routerLink="/feature/feature-one">Feature One</a>
          <a class="dropdown-item" routerLink="/feature/feature-two">Feature Two</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" role="button" dropdownToggle aria-haspopup="true" aria-expanded="false">
          you are not logged
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
          <a class="dropdown-item" routerLink="/auth/login">login</a>
          <a class="dropdown-item" routerLink="/auth/register">register</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
